
@{
    ViewBag.Title = "Inicio2";
}


<div class="slider_area">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9">
                    <div class="slider_text text-center">
                        <!-- <p>Melhor forma de organizar suas contas.</p> -->
                        <h3>Bem-Vindo </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Css2/js/tabela-1.js"></script>