
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> Contas </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="imagens/footerlogo.png">

    <link rel="stylesheet" href="~/Content/Login/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Login/css/style1.css">
    <link rel="stylesheet" href="~/Content/Login/css/style.css">
    <link rel="stylesheet" href="~/Content/Login/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/Content/Login/css/estilos.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-transparente">
            <div class="container">
                <a href="@Url.Action("Inicio","Home")" class="logo navbar-brand">
                    <img src="~/Content/Login/imagens/Logo contas.png" width="142" title="">
                </a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto ul-ul">
                        <li class="nav-item li-li">
                            <a href="@Url.Action("Inicio","Home")" class="nav-link a-a effect-under">Home</a>
                        </li>

                        <li class="nav-item divisor a-a">
                        </li>

                        <li class="nav-item li-li">
                            <a href="@Url.Action("Login","Home")" class="nav-link ml-2 a-a effect-underleft">Entrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9">
                        <div class="slider_text text-center">
                            <p>Melhor forma de organizar suas contas.</p>
                            <h3>Formas rápidas simples e fácil para sua conta. </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="inicio-home">
        <div class="sobre-baixa-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-5">
                        <div class="sobre-legenda mb-50">
                            <div class="section-tittle mb-35" data-aos="fade-up" data-aos-delay="200">
                                <h1 class="h1-svc-1">Como Funciona?</h1>
                            </div>
                            <p class="phrag-1" data-aos="fade-up">
                                A Contas apresenta seus serviços com sistemas flexíveis,
                                e convenientes.
                                Você pode selecionar suas preferências e elementos favoritos para
                                contas particulares com possibilidades ilimitadas de uso.
                                Pretende-se uma experiência perfeita para suas contas.
                            </p>
                            <p class="phrag-1" data-aos="fade-up" data-aos-delay="200">
                                Basta cadastrar sua conta, escolher o tipo de conta
                                e pronto sua conta estará pronta para seu uso diario,
                                simples e rápido.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="sobre-img">
                                <div class="sobre-font-img" data-aos="fade-left" data-aos-delay="200">
                                    <img class="img-inicio" src="~/Content/Login/imagens/undraw_online_payments_luau.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="bgk-fundo" src="~/Content/Login/imagens/Barrabag.png">
        </div>
    </section>

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Sobre</h2>
                        <p>Atendimento de segunda a sexta das 09:00, as 18:00.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="li1"><a class="as1" href="https://twitter.com" data-aos="fade-left" data-aos-delay="100"><span><i class="fab fa-twitter text-white ic-3"></i></span></a></li>
                            <li class="li1"><a class="as1" href="https://pt-br.facebook.com" data-aos="fade-left" data-aos-delay="200"><i class="fab fa-facebook text-white ic-3"></i><span></span></a></li>
                            <li class="li1"><a class="as1" href="https://www.instagram.com" data-aos="fade-left" data-aos-delay="300"><i class="fab fa-instagram text-white ic-3"></i><span></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Alguma dúvida?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icons2"><i class="fas fa-map-marker-alt text-white"></i></span><span style="color: rgba(255, 255, 255, 0.7);">R. Engenheiro Aubertin, 290, Lapa, São Paulo – SP – 05068-070 CNPJ: 37.342.365/0001-04</span></li>
                                <li><span class="icons2"><i class="fas fa-phone-alt text-white"></i></span><span style="color: rgba(255, 255, 255, 0.7);">11 2361-2036 - 11 98711-6930</span></li>
                                <li><span class="icons2"><i class="fas fa-envelope text-white"></i></span><span style="color: rgba(255, 255, 255, 0.7);">Contas_suporte@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row fot-1">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos direitos reservados | Contas.
                        <!-- direitos reservados -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/main.js"></script>
</body>

</html>